.hero {
  background-color: var(--color-black);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  color: var(--color-white);
  padding: 0 4rem;
}



.heroImage {
  width: 212px;
  height: auto;
}
