.navbar {
  background-color: var(--primary-green);
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem; 
  gap: 32px;

}
.navbarLeft {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbarRight {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  
}