.search {
  height: 19px; 
  width: 100%;
  padding: 14px 20px;
  border: 1px solid var(--color-black); 
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 16px;
}


.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
  width: 568px; 
}

/* .searchButton {
  width: 48px; 
  height: 100%; 
  border: 1px solid var(--color-black);
  border-left: none;
  border-radius: 0 8px 8px 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
} */

.searchButton {
  height: 100%;
  width: 48px;
  border: 1px solid var(--color-black);
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listElement {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.albumTitle {
  font-size: 16px;
}

.albumArtists {
  font-size: 12px;
}
